.buttonClassico {
	background: $MioloPao;
	color: #4e2a1d;
	cursor: pointer;
	border: 1px solid $MioloPao;
	border-radius: 8px;
	padding: 0.6em 1.5em;
	transition: 0.3s ease;
	font-weight: bold;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.buttonClassico:hover {
	color: $MioloPao;
	transform: translate(-0.25rem, -0.25rem);
	background: $cascaPao;
	box-shadow: 0.25rem 0.25rem $MioloPao, 0 0 10px rgba(0, 0, 0, 0.2);
}

.buttonClassico:active {
	transform: translate(0);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}
